body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 40px;
    background-color: #121212;
    color: #ddd;
}

h1, h2 {
    color: #eee;
    margin-bottom: 12px;
    font-weight: 600;
}

section {
    margin-bottom: 30px;
    background-color: #1e1e1e;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}

th, td {
    border: 1px solid #333;
    padding: 6px 8px;
    text-align: left;
    color: #ccc;
}

th {
    background-color: #272727;
    font-weight: 700;
}

tr:nth-child(even) {
    background-color: #202020;
}

tbody {
    display: block;
    max-height: 220px;
    overflow-y: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#networkGraph {
    border: 1px solid #333;
    background-color: #181818;
    margin-top: 15px;
    height: 350px;
    width: 100%;
    border-radius: 6px;
}

canvas {
    max-width: 100%;
    height: 250px !important;
}

canvas#portChart {
  width: 600px !important;
  height: 300px !important;
  display: block;
  margin: auto;
}
